@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex;
  justify-content: center; 
  align-items: center;   
  min-height: 100vh;
}

div.main{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}